@media only screen and (min-width : 100px) and (max-width : 991px){
    .btn-outer{
        position: fixed;
        background: white;
        padding: 5px 0px;
        bottom: 0px;
        width: 100%;
        left: 0px;
        justify-content: center !important;
    }
    .whatsappbtn, .call{
        padding: 7px 15px;
        font-size: 14px;
    }

    .bannerContent h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        text-align: center; 
    }

    .bannerContent br{
        display: none;
    }

    .bannerContent p, .bannerContent ul li{
        font-size: 16px;
    }

    .bannerContentBtn{
        flex-direction: column;
    } 

    .bannerContentBtn button:first-child{
        margin-top: 10px;
    }
    
    .bannerContentBtn button{
        width: 100%;
        padding: 2px 0px;
        font-size: 20px;
    }

    .bannerForm{
    padding: 20px;
    }

    .counterSection h3,p {
        text-align: center;
    }

    .counterSection {
        margin-top: 30px;
    }

    .highlights-Section h2{
    font-size: 29px;
    }

    .cesrtificateSection-2{
    background: none;
    justify-content: center;
    display: flex;
    }

    .certificateSection-1 h4{
    font-size: 29px;
    text-align: center;
    }

    .certificateSection-1 p{
    font-size: 16px;
    text-align: center;
    }

    .certificateSection-2 img{
    width: 325px;
    height: 450px;
    padding-top: 14px;
    padding-right: 20px;
    background: none;
    }

    .certificateSection-1A p, .certificateSection-1B p, .certificateSection-1C p{
        text-align: start;
        
    }

    .sectionPart h1{
    font-size: 29px;
    text-align: center;
    }

    .sectionPart p{
    font-size: 15px;
    line-height: 27px;
    text-align: center;
    }

    .marketig h4{
   font-size: 29px;
 

}
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}   